# packages required

- numpy 
- scipy
- matplotlib
- skimage
- sklearn
- networkx
- ipython
- torch
- random
- abc
- torchvision
- cv2
- os
- sys
- tqdm
- json
- yaml
- csv
- argparse
- collections
- pathlib
- SimpleITK
- PIL
- pickle
- glob
- copy
- urllib
- math
- datetime
- time
- uuid
- subprocess
- functools
- colorsys
- requests
- BytesIO
- setuptools
- pandas
- click
- pydicom
